@use "../../styles/colors" as *;
@use "../../styles/mixin" as *;

.back {
	@include flexed(row, flex-start, center);
	gap: 0.25rem;
	cursor: pointer;

	&__text {
		font-size: 0.9375rem;
		font-weight: 600;
		color: $color-secondary-background;
		&--white {
			color: $color-global;
		}
	}
}
