@use "../../styles/colors" as *;
@use "../../styles/mixin" as *;

.suggestion-card {
	background-color: $color-global;
	width: 154px;
	height: 186px;
	border-radius: 4px;

	&__wrapper {
		@include flexed(column, space-between, center);
		padding: 10px;
	}

	&__name,
	&__price {
		margin: 0;
		margin-right: auto;
	}
	&__price {
		font-weight: 600;
	}

	&__img {
		// margin-bottom: -20px;
		height: 90px;
		width: 100%;
		// object-fit: cover;
	}

	&__add-wrapper {
		@include flexed(row, center, center);
	}
	&__add {
	}
}
