@use "../../styles/colors" as *;
@use "../../styles/mixin" as *;

.setup-bar {
  @include flexed(row, space-between, center);
  margin: 0 2rem 2rem 0.5rem;
}

.header {
  margin: 0 1rem 1rem 1rem;
  &-title {
    margin: 0rem 0.5rem 0 0.5rem;
    font-size: 1.3rem;
    color: $color-global;
  }
  &-more {
    color: $color-global;
    margin: 0;
    font-size: 1.5rem;
  }
  &-subheader {
    color: $color-global;
    margin: 0;
    padding: 0;
  }
}
