@use "../../styles/colors" as *;
@use "../../styles/mixin" as *;

.footer {
	&__border {
		border-top: 1px solid $color-primary-text;
	}
	&__wrapper {
		@include flexed(row, space-between, center);
		padding: 16px 36px;
	}
	&__icon-wrapper {
		@include flexed(column, center, center);
	}
	&__icon {
	}
	&__text {
		font-size: 10px;

		&--active {
			color: $color-secondary-background;
		}
	}
}
