@use "../../styles/colors" as *;
@use "../../styles/mixin" as *;

.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: white;
	z-index: 10;
	&__border {
		border-top: 1px solid $color-primary-text;
	}
	&__wrapper {
		@include flexed(row, space-between, center);
		padding: 1rem 2.25rem;
	}
	&__icon-wrapper {
		@include flexed(column, center, center);
	}
	&__text {
		font-size: 0.625rem;

		&--active {
			color: $color-secondary-background;
		}
	}
}
